<div id="answers" class="list-group mb-2"
  data-controller="swap"
  data-swap-url-value="<%= round_answer_swappers_path(round, format: :json) %>"
  data-swap-name-value="answer"
  data-swap-enabled-value="<%= is_active_user %>">
  <%= render round.ordered_answers %>
</div>
