<div id="<%= dom_id round %>" class="scaffold_record">
  <p>
    <strong>Game:</strong>
    <%= round.game_id %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= round.question %>
  </p>

  <p>
    <%= link_to "Show this round", round %>
  </p>
</div>
