<%# Question Card %>
<div class="card border-secondary mb-2">
  <div class="card-body">
    <strong>Question:</strong>
    <%= round.question %>
  </div>
</div>

<%# Answer List %>
<%- if round.matching? -%>
  <%=
    render "matching_rounds/matching_round", round: round,
      is_active_player: is_active_player
  %>
<%- elsif round.completed? -%>
  <%=
    render "completed_rounds/completed_round", round: round,
      is_active_player: is_active_player
  %>
<%- end -%>
