<div id="<%= dom_id game %>" class="scaffold_record">
  <p>
    <strong>Question:</strong>
    <%= game.question %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= game.status %>
  </p>

  <p>
    <%= link_to "Show this game", game %>
  </p>
</div>
