<%- if notice -%>
  <div class="alert alert-danger d-flex align-items-center mt-2" role="alert">
    <i class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"></i>
    <div><%= notice %></div>
  </div>
<%- end -%>

<div class="row mt-2">
  <div class="col-md-10" id="current_round">
    <%= render @current_round, current_player: @current_player, active_player: @active_player %>
  </div>

  <div class="col-md-2">
    <strong>Players:</strong>
    <div id="players">
      <%=
        render(@game.players.sort_by(&:name), active_player: @active_player)
      %>
    </div>
  </div>
</div>

<footer>
  <%= link_to "Back to games", root_path %>
</footer>
