<div id="<%= dom_id player %>">
  <%- if player == active_player -%>
    <i class="bi bi-star-fill"></i>
  <%- else -%>
    <%- if player.current_answer.present? -%>
      <i class="bi bi-check-square"></i>
    <%- else -%>
      <i class="bi bi-square"></i>
    <%- end -%>
  <%- end -%>
  -
  <%= player.name %>
</div>
