<div id="answers" class="list-group mb-2">
  <%= render round.ordered_answers %>
</div>
<div class="card text-bg-light mb-2">
  <div class="card-body">
    <p class="card-text">
      <%= round.player.name %>'s Score =
      <%= round.ordered_answers.count(&:correct?) %>
    </p>
  </div>
</div>
